.controlPanel {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    margin-bottom: 5px;
    font-weight: 800;
    color: #ffcf32;
  }

  .display {
    height: 30px;
    margin-bottom: 20px;

    input {
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-radius: 10px;
      border: 1px solid #000;
      text-align: center;
    }
  }

  .keypad {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 20px;

    .key {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30.8%;
      background-color: #ffcf32;
      border-radius: 5px;
      font-size: 15px;
      line-height: 20px;
      margin: 3px 0;
      cursor: pointer;

      &:nth-child(2),
      &:nth-child(5),
      &:nth-child(8) {
        margin: 3px 5px;
      }

      &--fullWidth {
        width: 100%;
      }
    }
  }

  .moneyIn {
    border-radius: 20px;
    width: 30%;
    height: 5px;
    background-color: #292929;
    margin-bottom: 20px;
  }

  .change {
    border-radius: 0 0 10px 10px;
    width: 80%;
    height:70px;
    background: rgb(73, 72, 72);
    background: linear-gradient(
      180deg,
      rgba(73, 72, 72, 1) 0%,
      rgba(41, 41, 41, 1) 90%
    );
  }
}
