.wallet {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin-bottom: 10px;

    h2 {
      margin: 0;
      color: #ffcf32;
    }
  }

  .coins {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 5px solid #ffffff00;

    & .coin {
      padding-top: 4px;
      border-radius: 50%;
      background-color: #ffffff00;
      cursor: pointer;
    }
  }
}
