.item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  img {
    width: 100%;
    margin-bottom: 5px;
  }

  .price {
    color: #fff;
    font-size: 12px;
  }
  .icon {
    &--animation {
      animation: shake 6s normal;
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(-20deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  30% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: translateY(1000px);
  }
}
